<?xml version="1.0" encoding="utf-8"?>

<configuration>


<startup>

<supportedRuntime sku=".NETFramework,Version=v4.6.2" version="v4.0"/>

</startup>


<runtime>
      <loadFromRemoteSources enabled="true"/>
	    <AppContextSwitchOverrides value="Switch.System.Windows.Input.Stylus.DisableStylusAndTouchSupport=true" />
    


<assemblyBinding xmlns="urn:schemasmicrosoftcom:asm.v1">


</assemblyBinding>

</runtime>

</configuration>